@charset "UTF-8";

@font-face {
    font-family: GraphikLCG-Regular;
    src: url(../font/GraphikLCG-Regular.ttf);
    }
@font-face {
    font-family: GraphikLCG-Semibold;
    src: url(../font/GraphikLCG-Semibold.ttf);
}
body{
    max-width: 1440px;
    font-family: GraphikLCG-Regular, serif;
    font-style: normal;
}
header{
    height: 95px;
    display: flex;
    flex-grow: 1;
}
.container{
    width: 1340px;
    display: flex;
    flex-grow: 1;
    margin: auto;
}
header ul {
    display: flex;
}
li {
    list-style: none;
    font-weight: 400;
    size: 15px;
}
ul li{
    display: flex;
}
ul {
    margin: 0;
}
li a {
    padding: 0 20px;
    color: black;
    text-decoration: none;
}
.logo{
    margin-left: 50px;
}
.button{
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    margin-right: 50px;
    }
.button-1 {
    width: 120px;
    height: 45px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    color: black;
    padding: 10px 36px;
    margin: 5px;
    text-decoration: none;
}
.button-2 {
    width: 120px;
    height: 45px;
    background: #FF6336;
    border: 1px solid #FF6336;
    color: white;
    padding: 10px 36px;
    text-decoration: none;
}
.border{
    border: 1px solid #E5E5E5;
}
.banner{
    max-width: 1440px;
    height: 862px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
h1 {
    width: 552px;
    height: 210px;
    font-weight: 600;
    font-size: 65px;
    line-height: 70px;
    margin-bottom: 0;
    margin-top: 129px;
    font-family: GraphikLCG-Semibold, serif;
}
p {
    width: 471px;
    height: 140px;
    font-weight: 400;
    font-size: 25px;
    line-height: 35px;
    margin-top: 51px;
    margin-bottom: 50px;
}
.button-banner{
    display: flex;
    margin-bottom: 40px;
}
.button-4 {
    width: 160px;
    height: 60px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    color: black;
    padding: 21px 36px;
    margin: 5px;
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;
}
.button-3 {
    width: 160px;
    height: 60px;
    background: #FF6336;
    border: 1px solid #FF6336;
    color: white;
    padding: 21px 43px;
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;
}
p1{
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
}
.banner-img{
    width: 759px;
    height: 529px;
    display: flex;
    justify-content: center;
    margin-top: 151px;
}
.companies{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: #FF9C7D;
    padding-top: 108px;
    padding-bottom: 108px;
}
h2{
    font-family: GraphikLCG-Semibold, serif;
    display: flex;
    align-items: center;
    width: 720px;
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    text-align: center;
    padding-bottom: 50px;
    }
.logo-companies{
    display: flex;
    justify-content: space-evenly;
    flex-grow: 1;
}
.article {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.container-article{
    width: 1340px;
    height: 812px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: stretch;
    column-gap: 15%;
    margin: auto;
    padding-bottom: 90px;
    justify-content: center;
}
h3{
    width: 493px;
    height: 120px ;
    font-family: GraphikLCG-Semibold, serif;
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
}
p2 {
    width: 491px;
    height: 120px ;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 30px;
}
.start{
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    line-height: 30px;
    padding-left: 0;
    color: black;
    text-decoration: none;
}
.article-1 {
    height: 812px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.start-1{
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    line-height: 30px;
    padding-left: 0;
    padding-top: 20px;
    color: black;
    text-decoration: none;
}
.start-2{
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    line-height: 30px;
    padding-left: 0;
    padding-top: 20px;
    color: black;
    text-decoration: none;
}
.start-3{
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    line-height: 30px;
    padding-left: 0;
    padding-top: 20px;
    color: black;
    text-decoration: none;
}
.article-img{
    margin-bottom: 20px;
}
.container-card{
    width: 1440px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    align-items: center;
    justify-content: center;
    background: #FFF8E4;
    padding-top: 147px;
    padding-bottom: 110px;
}
h4{
    font-family: GraphikLCG-Semibold, serif;
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    margin-top: 0;
    text-align: center;
}
.row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}
.col-4 {
    width: 23%;
    height: 300px;
    padding: 15px 15px;
    display: flex;
    margin-bottom: 30px;
}
.card{
    text-align: center;
    padding: 0px 15px;
}
.card-img{
    padding-top: 0px;
}
.card__title{
    font-weight: 600;
    font-size: 25px;
    line-height: 35px;
    padding: 25px;
}
.card__description{
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
}
.prod{
    height: 1065px;
}
.container-prod{
    width: 1440px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding-top: 154px;
    padding-bottom: 75px;
    padding-left: 75px;
}
h9{
    font-family: GraphikLCG-Semibold, serif;
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    margin-top: 0;
    padding-bottom: 75px;
    justify-content: flex-start;
}
.row-1{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-right: 50px;
}
.learn{
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    line-height: 30px;
    padding-left: 0;
    padding-top: 20px;
    justify-content: center;
    align-items: center;
    color: black;
    text-decoration: underline;
    padding-bottom: 50px;

}
.card__title-1 {
    font-weight: 600;
    font-size: 30px;
    line-height: 40px;
    padding-top: 50px;
    margin-bottom: 34px;
    font-family: 'GraphikLCG-Semibold';
}
.img-p2{
    padding-bottom: 36px;
}
.img-p3{
    padding-bottom: 18px;
}
.card__description-1{
    width: 390px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 25px;
}
.container-chief{
    height: 420px;
    background: #C9E8F2;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-top: 63px;
    padding-left: 75px;
}
h5{
    width: 920px;
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 23px;
    margin-top: 0;
}
p3{
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 14px;

}
.container-software{
    height: 300px;
    background: #DABC98;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 137px;
    padding-left: 54px;
}
.frame-1{
    width: 176px;
    height: 154px;
}
p4{
    width: 461px;
    font-weight: 600;
    font-size: 35px;
    line-height: 50px;
    font-family: GraphikLCG-Semibold, serif;
}
.container-bird{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
h6{
    width: 791px;
    font-weight: 600;
    font-size: 65px;
    line-height: 75px;
    text-align: center;
    margin: 0 auto;
    padding-top: 165px;
    font-family: GraphikLCG-Semibold, serif;
}
p5{
    width: 539px;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    padding-bottom: 25px;
}
.button-5 {
    width: 193px;
    background: #FF6336;
    border: 1px solid #FF6336;
    color: white;
    padding: 22px 20px;
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    margin-top: 32px;
    margin-bottom: 160px;
}
.container-next{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: #FF9C7D;
}
h7{
    width: 784px;
    font-weight: 600;
    font-size: 65px;
    line-height: 75px;
    text-align: center;
    padding-top: 119px;
    padding-bottom: 29px;
    font-family: GraphikLCG-Semibold, serif;
}
p6{
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}
.button-6 {
    background: black;
    color: white;
    padding: 20px 40px;
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    margin-top: 54px;
    margin-bottom: 161px;
}
footer{
    background : #EEEEEE;
}
.footer{
    height: 700px;
    padding: 92px 75px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
h8{
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
}
p7{
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    width: 290px;
}
.footer-img{
    padding-bottom: 31px;
}
.read{
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    padding-left: 0;
    color: black;
    text-decoration: none;
}
.product{
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    padding-top: 10px;
    padding-bottom: 21px;
    font-family: GraphikLCG-Semibold, serif;
}
.item{
    display: flex;
    padding-bottom: 406px;
    padding-left: 20px;
}
ul{
    display: flex;
}
li{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.nav{
    padding-bottom: 15px;
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;
}
.nav-1{
    padding-bottom: 15px;
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;
    width: 138px;
}
.border-1{
    border: 1px solid black;
    margin: 0 75px;
}
.end{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 52px 150px 52px 75px;
}
p8{
    width: 301px;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    justify-content: flex-start;
    margin-right: auto;
    padding-left: 20px;
}
.last{
    width: 109px;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
}
.footer-logo{
}
