@charset "UTF-8";

@font-face {
    font-family: GraphikLCG-Regular;
    src: url(../font/GraphikLCG-Regular.ttf);
}

@font-face {
    font-family: GraphikLCG-Semibold;
    src: url(../font/GraphikLCG-Semibold.ttf);
}

* {
    box-sizing: border-box;
}

body {
    max-width: 1440px;
    margin: auto;
    font-family: GraphikLCG-Regular, serif;
    font-style: normal;
}

header {
    height: 95px;
    display: flex;
    flex-grow: 1;
}

.container {
    max-width: 1340px;
    display: flex;
    flex-grow: 1;
    margin: auto;
}

header ul {
    display: flex;
}

li {
    list-style: none;
    font-weight: 400;
    size: 15px;
}

ul li {
    display: flex;
    padding: 0 15px;
}

ul {
    margin: 0;
}

li a {
    color: black;
    text-decoration: none;
}

.logo {
    margin-left: 50px;
}

.button {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    margin-right: 50px;
}

.button-1 {
    width: 120px;
    height: 45px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    color: black;
    padding: 10px 36px;
    margin: 5px;
    text-decoration: none;
}

.button-2 {
    width: 120px;
    height: 45px;
    background: #FF6336;
    border: 1px solid #FF6336;
    color: white;
    padding: 10px 36px;
    text-decoration: none;
}

.border {
    border: 1px solid #E5E5E5;
}

.banner {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 172px;
}

.banner-text h1 {
    width: 552px;
    height: 210px;
    font-weight: 600;
    font-size: 65px;
    line-height: 70px;
    margin-bottom: 0;
    margin-top: 129px;
    font-family: GraphikLCG-Semibold, serif;
}

.banner-text_1 p {
    width: 471px;
    height: 140px;
    font-weight: 400;
    font-size: 25px;
    line-height: 35px;
    margin-top: 51px;
    margin-bottom: 50px;
}

.button-banner {
    display: flex;
    margin-bottom: 40px;
}

.button-4 {
    width: 160px;
    height: 60px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    color: black;
    padding: 21px 36px;
    margin: 5px;
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;
}

.button-3 {
    width: 160px;
    height: 60px;
    background: #FF6336;
    border: 1px solid #FF6336;
    color: white;
    padding: 21px 43px;
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;
}

.banner-text_2 p {
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
}

.banner-img {
    width: 759px;
    height: 529px;
    display: flex;
    justify-content: center;
    margin-top: 151px;
}

.companies {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: #FF9C7D;
    padding-top: 108px;
    padding-bottom: 108px;
}

.companies-text h2 {
    font-family: GraphikLCG-Semibold, serif;
    display: flex;
    align-items: center;
    width: 720px;
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    text-align: center;
    padding-bottom: 50px;
}

.logo-companies {
    display: flex;
    justify-content: space-evenly;
    flex-grow: 1;
}

.article {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container-article {
    display: flex;
    padding: 90px 75px;
    align-items: center;
}

.article-text {
    padding-right: 140px;
}

.article-text_1 {
    padding-left: 140px;
}

.article-text_2 h2 {
    font-family: GraphikLCG-Semibold, serif;
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
}

.article-text_3 p {
    width: 491px;
    height: 120px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}

.start {
    font-weight: 600;
    font-size: 20px;
    line-height: 70px;
    padding-left: 0;
    color: black;
    text-decoration: none;
}

.article-img {
    margin-bottom: 20px;
}

.container-card {
    width: 1440px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    align-items: center;
    justify-content: center;
    background: #FFF8E4;
    padding-top: 147px;
    padding-bottom: 110px;
}

.card-text h2 {
    font-family: GraphikLCG-Semibold, serif;
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    margin-top: 0;
    text-align: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.col-4 {
    width: 30%;
    height: 300px;
    padding: 15px 15px;
    display: flex;
    margin-bottom: 30px;
}

.card {
    text-align: center;
    padding: 0px 15px;
}

.card-img {
    padding-top: 40px;
}

.card__title {
    font-weight: 600;
    font-size: 25px;
    line-height: 35px;
    padding: 25px;
}

.card__description {
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
}

.prod {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding-top: 154px;
    padding-bottom: 75px;
    padding-left: 75px;
}

.prod-text h2 {
    font-family: GraphikLCG-Semibold, serif;
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    margin-top: 0;
    justify-content: flex-start;
}

.row-1 {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-right: 50px;
}

.learn {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    padding-left: 0;
    padding-top: 20px;
    justify-content: center;
    align-items: center;
    color: black;
    text-decoration: underline;
    padding-bottom: 50px;

}

.card__title-1 {
    font-weight: 600;
    font-size: 30px;
    line-height: 40px;
    padding-top: 50px;
    margin-bottom: 34px;
    font-family: 'GraphikLCG-Semibold', serif;
}

.img-p2 {
    padding-bottom: 36px;
}

.img-p3 {
    padding-bottom: 18px;
}

.card__description-1 {
    width: 390px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 25px;
}

.container-chief {
    height: 420px;
    background: #C9E8F2;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-top: 63px;
    padding-left: 75px;
    margin-top: 400px;
}

.chief-text h3 {
    width: 920px;
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 23px;
    margin-top: 0;
}

.chief-text_1 p {
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 14px;

}

.container-software {
    background: #DABC98;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 115px 137px 115px 54px;
}

.frame-1 {
    width: 176px;
    height: 154px;
}

.software-text h3 {
    width: 461px;
    font-weight: 600;
    font-size: 35px;
    line-height: 50px;
    font-family: GraphikLCG-Semibold, serif;
}

.container-bird {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.bird-text h1 {
    width: 791px;
    font-weight: 600;
    font-size: 65px;
    line-height: 75px;
    text-align: center;
    margin: 0 auto;
    padding-top: 165px;
    font-family: GraphikLCG-Semibold, serif;
}

.bird-text_1 p {
    width: 539px;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    padding-bottom: 25px;
}

.button-5 {
    width: 193px;
    background: #FF6336;
    border: 1px solid #FF6336;
    color: white;
    padding: 22px 20px;
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    margin-top: 32px;
    margin-bottom: 160px;
}

.container-next {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: #FF9C7D;
}

.next-text h1 {
    width: 784px;
    font-weight: 600;
    font-size: 65px;
    line-height: 75px;
    text-align: center;
    padding-top: 60px;
    font-family: GraphikLCG-Semibold, serif;
    margin-bottom: 0;
}

.next-text_1 p {
    font-weight: 400;
    font-size: 20px;
}

.button-6 {
    background: black;
    color: white;
    padding: 20px 40px;
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    margin-top: 35px;
    margin-bottom: 130px;
}

footer {
    background: #EEEEEE;
}

.footer {
    height: 700px;
    padding: 92px 75px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-text h4 {
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 0;
    margin-top: 0;
}

.footer-text_1 p{
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    width: 290px;
}

.footer-img {
    padding: 28px 0;
}

.read {
    font-weight: 600;
    font-size: 20px;
    padding-top: 15px;
    color: black;
    text-decoration: none;
    font-family: GraphikLCG-Semibold, serif;
}

.product {
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    padding-top: 10px;
    padding-bottom: 21px;
    font-family: GraphikLCG-Semibold, serif;
}

.item {
    display: flex;
    padding-bottom: 20px;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding-left: 0;

}

.nav {
    padding-bottom: 15px;
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;
}

.nav-1 {
    padding-bottom: 15px;
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;
    width: 138px;
}

.border-1 {
    border: 1px solid black;
    margin: 95px 75px 0;
}

.end {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 150px 50px 75px;
}

.end-text p {
    width: 300px;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    margin-right: auto;
    padding-left: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.footer-logo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}
.end-text_1 p{
    margin-bottom: 0;
    width: 109px;
    font-weight: 400;
    font-size: 12px;
    margin-left: 700px;
}
